#title {
    background-color: #ff4c68;
}
.navbar-brand {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.navbar-item {
    padding-left: 30px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
.container-fluid {
     padding: 3% 15%;
}
.row {
    padding-top: 50px;
}

.row img {
    transform: rotate(20deg);
}
button {
    margin: 20px 5px 0px 0px ;
}